{% extends 'hrms/layout.html' %}
{% load static %}
{% block title %} Все работники | HRIS {% endblock title %}
      <!--  MAIN BODY START HERE -->
          {% block content %}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="row">
            <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'apps:dashboard' %}">Панель приборов</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Работник </li>
                        <li class="breadcrumb-item active" aria-current="page">Все</li>
                    </ol>
                </nav>
            <form method='GET'>
              <input type='text' name='q' value='{{ request.GET.q }}'>
              <input class="button" type='submit' value="Search Profile">
            </form>
            <div class="col-lg-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Все работники<a href="{% url 'apps:employee_new' %}" class="btn btn-sm btn-success mb-3 float-right">Добавить новое +</a></h4>
                    
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Миниатюра
                          </th>
                          <th>
                            Имя
                          </th>
                          <th>
                            Фамилия
                          </th>
                          <th>
                            телефон
                          </th>
                          <th>
                            Электронная почта
                          </th> 
                          <th>
                            Действия
                          </th>                         
                        </tr>
                      </thead>
                      <tbody>
                      {% for employee in employees  %}
                        <tr>
                          <td class="font-weight-medium">
                            <img src="{{employee.thumb.url}}" class='rounded img-fluid' alt="">
                          </td>
                          <td>
                            {{employee.first_name}}
                          </td>
                          <td>
                            {{employee.last_name}}
                          </td>
                          <td>
                           {{employee.mobile}}
                          </td>
                          <td class="text-danger"> 
                            {{employee.email}}
                          </td>
                          <td>
                          
                            <div class="btn-group dropdown">
                              <button type="button" class="btn btn-success dropdown-toggle btn-rounded btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <i class="fa fa-cog "></i> Управлять
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'apps:employee_view' pk=employee.pk %}">
                                  <i class="fa fa-eye text-success fa-fw"></i>Посмотреть</a>
                                <a class="dropdown-item" href="{% url 'apps:employee_update' pk=employee.pk %}">
                                  <i class="fa fa-edit text-info fa-fw"></i>Редактировать</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'apps:employee_delete' pk=employee.pk %}">
                                  <i class="fa fa-trash text-danger fa-fw"></i>Удалить</a>
                              </div>
                            </div>                  
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                    {% if is_paginated %}
                      <nav aria-label="Page navigation example" class='mt-4'>
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Предыдущий</a></li>
                        {% else %}

                          <li class="page-item disabled"><span class='page-link '>Предыдущий</span></li>
                        {% endif %}
                          <li class="disabled"> <span class='page-link'> Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </span></li>
                        {% if page_obj.has_next %}
                          <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Следующий</a></li>
                        {% else %}
                          <li class="page-item disabled"><span class='page-link '>Следующий</span></li>
                        {% endif %}                        
                        </ul>
                    </nav>
                    {% endif %}
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
        {% block noty %}
        <script>
          {% if messages %}
            {% for message in messages  %}
              toastr.success('{{message}}')
            {% endfor %}
          {% endif %}
        </script>
        {% endblock noty %}
        {% endblock content %}